// COLORS
$primary-color: #232c51;
$text-color-dark-background: #eee;
$text-primary-color: #262626;
$hyperlink-color: #6632d0;
$apps: #3ddc84;
$footer-background-color: #222;
$fade-color: #333;

// FONTS
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
