// COLORS
$primary-color: #12254a;
$text-color-dark-background: #eee;
$hyperlink-color: #7644fb;
$apps: #3ddc84;
$footer-background-color: #222;
$fade-color: #333;

// FONTS
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
