@import "variables";

@import "root";
@import "nav";
@import "footer";

.article {
    padding: 12px 0;

    &, .nav {
        flex: 1 0 auto;
    }

    &__linkTop {
        color: $hyperlink-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__date {
        margin-top: 8px;
        color: $fade-color;
    }
}

.footer {
    flex-shrink: 0;
}
