@import "variables";

@import "root";
@import "nav";
@import "footer";

.blog {
    padding: 12px 0;

    &, .nav {
        flex: 1 0 auto;
    }

    &__heading {
        font-size: 2rem;
        margin-bottom: 8px;
    }

    &__description {
        margin: 0 0 36px 0;
        color: $fade-color;
        font-size: 1.2rem;
    }

    &__article {
        margin-bottom: 24px;

        &__title {
            margin-bottom: 0;

            &__hyperlink {
                color: unset;
                text-decoration: none;

                &:hover {
                    color: $primary-color;
                    text-decoration: underline;
                }
            }
        }

        &__date {
            margin-top: 4px;
            color: $fade-color;
        }

        &__hyperlink {
            color: $hyperlink-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer {
    flex-shrink: 0;
}
