doctype html

html(lang="en-US")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
					
    link(rel="stylesheet" type="text/css" href="css/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="css/application.min.css")
							
    title Kent Delante

  body
    section(id="about" class="material")
      div(class="container")
      p(class="blog-link")
	a(target="_blank" href="kdelante.github.io/blog") blog

      img(class="img-profile" src="img/avatar.png" alt="profile image")

      p(class="author")
	em Kent Delante

      p(class="title") full stack developer | ux designer

      div(class="personal-lnks")

	// use font awesome for social media icons https://fontawesome.io 

	a(class="personal-lnk" target="_blank" href="mastodon.social/@kdelante14")
	  i(class="fa fa-twitter fa-2x" aria-hidden="true")

	a(class="personal-lnk" target="_blank" href="https://gitlab.com/kdelante14")
	  i(class="fa fa-gitlab fa-2x" aria-hidden="true")

	a(class="personal-lnk" target="_blank" href="mailto://kdlnt@protonmail.com")
	  i(class="fa fa-envelope fa-2x" aria-hidden="true")

    section(id="demo")
      div(class="container")
	p
	  em I create websites ...

	
	div(class="devices")
	  div(class="desktop-container")
	    div(id="desktop" class="device")
	      div(class="screen")
		div(class="header")
		  div(class="brand")
		    ul(class="links")
		      li(class="link-item")
		      li(class="link-item")
		      li(class="link-item")
			    
		  div(class="body")
		    div(class="content")
		      div(class="image")
		      div(class="text-container")
			div(class="text")
			div(class="text")
			div(class="text")
			div(class="text")
		      div(class="content")
			div(class="image")
			div(class="text-container")
			  div(class="text")
			  div(class="text")
			  div(class="text")
			  div(class="text")
	      div(class="keyboard")
	    
	    
	    div(id="tablet" class="device")
	      div(class="screen")
		div(class="header")
		  div(class="brand")
		    ul(class="links")
		      li(class="link-item")
		      li(class="link-item")
		      li(class="link-item")
		div(class="body")
		  div(class="content")
		    div(class="image")
		    div(class="text-container")
		      div(class="text")
		      div(class="text")
		      div(class="text")
		      div(class="text")
		      div(class="text")
		      div(class="text")

	    div(id="mobile" class="device")
	      div(class="screen")
		div(class="header")
		  div(class="brand")
		  ul(class="links")
		    li(class="link-item")
		    li(class="link-item")
		    li(class="link-item")
		div(class="body")
		  div(class="content")
		    div(class="image")
		    div(class="text-container")
		      div(class="text")
		      div(class="text")
		      div(class="text")
		      div(class="text")
		      div(class="text")
		    div(class="image")

	p
	  em ... and they fit on any screen size!

  footer
    p &#169; 2017 kent delante
