.about {
    background-color: $primary-color;
    color: $about-text;    
    flex-direction: column;
    height: 100vh;
    padding: 10px 0;
    text-align: center;
 
    .img-profile {
        flex-shrink: 0;
     }

    a {
        text-decoration: none;
        color: $about-text;
    }

    .author {
        font-weight: $thin; 
        font-size: 4rem;
        margin: 0 auto;

        em {
            font-style: normal;
        }
    }

    .title {
        font-size: 2rem;
        margin: 10px 0;
    }

    .personal-lnks {
        display: flex;
    }

    .personal-lnk {
        height: 48px;
        margin: 10px 20px 20px 20px;
        width: auto;
    }
}
