.nav {
    background-color: $primary-color;
    width: 100%;
    min-height: 80px;
    height: auto;

    margin: 0;
    padding: 24px 0 0 0;

    &__container {
        height: 100%;
        width: 80vw;
        margin: 0 auto;
        max-width: 1000px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        &__list {
            list-style-type: none;

            height: 100%;

            padding: 0;

            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;

            &__element {
                margin-left: 16px;
                font-size: 1.5rem;

                &__link {
                    text-decoration: none;
                    color: #eee;
                    padding: 8px;

                    border-radius: 4px;

                    &--active, &:hover {
                        background-color: #eee;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .nav {
        &__container {
            flex-flow: column;

            &__list {
                flex-flow: column;
                align-items: center;

                &__element {
                    margin-left: 0;
                    margin-top: 24px;
                }
            }
        }
    }
}
