@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
html, body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #eee;
  font-weight: 300;
}

article {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.about {
  background-color: #12254a;
  color: #eee;
  flex-direction: column;
  height: 100vh;
  padding: 10px 0;
  text-align: center;
}

.about .img-profile {
  flex-shrink: 0;
}

.about a {
  text-decoration: none;
  color: #eee;
}

.about .author {
  font-weight: 100;
  font-size: 4rem;
  margin: 0 auto;
}

.about .author em {
  font-style: normal;
}

.about .title {
  font-size: 2rem;
  margin: 10px 0;
}

.about .personal-lnks {
  display: flex;
}

.about .personal-lnk {
  height: 48px;
  margin: 10px 20px 20px 20px;
  width: auto;
}

.projects {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  text-align: center;
}
