@import "variables";

@import "root";
@import "nav";

@import "index/about";
@import "index/skills";

.projects {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects__project {
    margin: 0 12px;
}

footer {
    text-align: center;
}
