{% extends "base.html" %}

{% block title %}
Blog
{% endblock title %}

{% block styles %}
/blog.css
{% endblock styles %}

{% block blogActiveState %}
nav__list__element__link--active
{% endblock blogActiveState %}

{% block content %}
<section class="blog">
    <div class="container">
        <h1 class="blog__heading">Blog</h1>
        <em class="blog__description">{{ section.description }}</em>

        {% for article in section.pages %}
        <article class="blog__article">
            <h2 class="blog__article__title">
                <a class="blog__article__title__hyperlink"
                   href="{{ article.permalink }}">
                    {{ article.title }}
                </a>
            </h2>
            <p class="blog__article__date">
                {{ article.date | date(format="%B %d, %Y", timezone="Asia/Manila")}}
            </p>
            <p class="blog__article__summary">
                {{ article.summary | safe }}
            </p>
            <a class="blog__article__hyperlink"
               href="{{ article.permalink }}">
                Read more
            </a>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock content %}
