{% extends "base.html" %}

{% block homeActiveState %}
nav__list__element__link--active
{% endblock homeActiveState %}

{% block styles %}
/index.css
{% endblock styles %}
{% block content %}
<section class="about">
	<img class="about__avatar" src="img/avatar.svg"
         alt="author's avatar" />

	<p class="about__author">Kent Delante</p>
	<p class="about__title">Open Source Developer</p>
    <span class="about__links">
		<a class="about__links__link" target="_blank"
           rel="noreferrer noopener"
           href="https://gitlab.com/leftybournes">
			<i class="fa fa-gitlab fa-3x" aria-hidden="true"></i>
		</a>
		<a class="about__links__link" target="_blank"
           rel="noreferrer noopener"
           href="https://github.com/leftybournes">
			<i class="fa fa-github fa-3x" aria-hidden="true"></i>
		</a>
        <a class="about__links__link" target="_blank"
           rel="noreferrer noopener"
           href="https://matrix.to/#/@leftybournes:matrix.org">
            <i class="fa fa-matrix-org fa-3x" aria-hidden="true"></i>
		</a>
		<a class="about__links__link" target="_blank"
           rel="noreferrer noopener"
           href="mailto://leftybournes@pm.me">
			<i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
        </a>
    </span>
</section>

<section class="skills">
    <div class="container">
        <section class="skills__webdev">
            <p class="skills__webdev__caption">
                I create beautiful websites
            </p>
            <img class="skills__webdev__img"
                 src="img/beautiful_websites.svg"
                 alt="Different screen sizes showing responsive design" />
        </section>
    </div>
    <section class="skills__appdev">
        <div class="container">
            <p class="skills__appdev__caption">I build awesome apps</p>
            <div class="skills__appdev__demoContainer">
                <img class="skills__appdev__demoContainer__img"
                     src="img/appdev.svg"
                     alt="A mobile screen with the message, &quot;Hello World&quot;&" />
                <div class="skills__appdev__demoContainer__code">
                    <code class="skills__appdev__demoContainer__code__composable">
                        <pre>@Composable</pre>
                    </code>
                    <code class="skills__appdev__demoContainer__code__functionOpen">
                        <pre>fun SayHello() {</pre>
                    </code>
                    <code class="skills__appdev__demoContainer__code__textOpen">
                        <pre>    Text(</pre>
                    </code>
                    <code class="skills__appdev__demoContainer__code__message">
                        <pre>        text = Hello, World!</pre>
                    </code>
                    <code class="skills__appdev__demoContainer__code__textClose">
                        <pre>    )</pre>
                    </code>
                    <code class="skills__appdev__demoContainer__code__functionClose">
                        <pre>}</pre>
                    </code>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="projects">
    <h2 class="projects__heading">Featured Projects</h2>
    <div class="container">
        <article class="projects__project">
            <h3 class="projects__project__heading">
                Hectic
            </h3>
            <img class="projects__project__img"
                 src="img/hectic.svg"
                 width="120"
                 alt="Hectic Android App's Logo" />
            <p class="projects__project__description">
                Hectic, my first Android app, is an open source
                planner which focuses on creating daily plans,
                by the hour (default) or minute, dependingon the
                user's preference. They are shown a summary of the
                day's planned activities as they go about doing
                them.
            </p>
            <a class="projects__project__projectLink"
               href="https://www.gitlab.com/Kylobytes/Hectic"
               target="_blank"
               rel="noreferrer noopener">
                Visit Project Page
            </a>
        </article>
        <article class="projects__project">
            <h3 class="projects__project__heading">
                Egg Hat
            </h3>
            <img class="projects__project__img"
                 src="img/egghat.svg"
                 width="120"
                 alt="Egg Hat Android App's Logo" />
            <p class="projects__project__description">
                Egg Hat is an open source food recipe app focused on
                helping users decide which recipes to cook based on
                available resources in their pantry. It also helps them
                manage and keep track of what's available in storage.
            </p>
            <a class="projects__project__projectLink"
               href="https://www.gitlab.com/Kylobytes/EggHat"
               target="_blank"
               rel="noreferrer noopener">
                Visit Project Page
            </a>
        </article>
    </div>
</section>
{% endblock content %}
