{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock title %}

{% block styles %}
/{{ current_path | replace(from="/", to="") }}.css
{% endblock styles %}

{% block aboutActiveState %}
{% if "about" in current_path %}
nav__list__element__link--active
{% endif %}
{% endblock aboutActiveState %}

{% block blogActiveState %}
{% if "blog" in current_path %}
nav__list__element__link--active
{% endif %}
{% endblock blogActiveState %}

{% block contactActiveState %}
{% if "contact" in current_path %}
nav__list__element__link--active
{% endif %}
{% endblock contactActiveState %}

{% block content %}
<section class="page">
    <div class="container">
        <!-- <h1 class="page__heading">{{ page.title }}</h1> -->
        {{ page.content | safe }}
    </div>
</section>
{% endblock content %}
