.about {
    background-color: $primary-color;
    color: $text-color-dark-background;

    min-height: 600px;
    height: 90vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__avatar {
        margin: 0;
    }

    &__author {
        margin-top: 4vh;
        margin-bottom: 0;
        font-family: "RobotoBold";
        font-weight: $bold;
        font-size: 4rem;
    }

    &__title {
        font-size: 2rem;
        margin: 0;
    }

    &__links {
        display: flex;

        margin-top: 46px;

        &__link {
            color: $text-color-dark-background;
            margin: 0 12px;

            &:hover {
                color: $hyperlink-color;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .about {
        &__avatar {
            width: 60vw;
        }

        &__author {
            font-size: 3rem;
        }

        &__title {
            font-size: 1.5rem;
            margin-top: 0;
        }
    }
}
