.projects {
    padding: 48px 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    &__heading {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 24px;
    }

    &__project {
        background-color: $primary-color;
        color: $text-color-dark-background;
        border-radius: 12px;

        padding: 12px 36px;
        margin: 24px 0;
        max-width: 300px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__heading {
            font-size: 2rem;
        }

        &__img {
            width: 120px;
            border-radius: 50%;
        }

        &__description {
            font-size: 1.5rem;

            @media screen and (max-width: 600px) {
                font-size: 1.2rem;
            }
        }

        &__projectLink {
            margin-top: auto;
            margin-bottom: 16px;
            align-self: flex-start;

            font-size: 1.2rem;
            color: $hyperlink-color-dark-background;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            @media screen and (max-width: 600px) {
                font-size: 1rem;
            }
        }
    }
}
