@import "fonts.css";
@import "header.css";
@import "hero.css";
@import "about.css";
@import "skills.css";
@import "services.css";
@import "projects.css";
@import "blog.css";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-family: "Roboto",  "Helvetica", sans-serif;
}

body {
    background: linear-gradient(to right, #25283E, #475161);
}

.main {
    padding-top: 32px;
    overflow-x: hidden;
}

/*
 * Tailwind breakpoints:
 * sm - 640px
 * md - 768px
 * lg - 1024px
 * xl - 1280px
 * 2xl - 1536px
*/
